@import "/common.css";

.content-container p {
  font-size: 1.1rem;
  line-height: 1.75rem;
}

.content-container p::first-letter {
  font-size: 1.75rem;
  font-weight: bold;

  color: var(--clr-accent-bg);
}

.content-container > * {
  margin: calc(var(--pdn-size) * 4) 0;
}

.img-bg {
  height: 30vw;
  padding: 0px;

  background-size: cover;
  background-repeat: no-repeat;

  transition: var(--trans-settings);
}

.img-bg > .img-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  height: fit-content;
  padding: var(--pdn-size);
  gap: var(--pdn-size);
}

.movie-info {
  width: 45%;
}

.movie-info > img {
  float: left;
  height: 24ch;

  margin: 0;
  margin-right: var(--pdn-size);

  border-radius: var(--bdr-radius);
  box-shadow: var(--shdw-settings-small);
  border: var(--bdr-radius);

  cursor: pointer;

  transition: var(--trans-settings);
}

.movie-info > img:hover {
  scale: 105%;
}

dialog > img {
  height: 70vh;
}

#intro-card {
  background-image: url("../../img/scifi/not-brave-enough-for-politics.png");
}

#political-card {
  background-image: url("../../img/scifi/viet-cong-rebels.png");
}

#science-card {
  background-image: url("../../img/scifi/science-delorean.png");
}

#examples-card {
  background-image: url("../../img/scifi/interstellar-struggle.png");
  background-position: center;
}

.page-nav {
  position: fixed;
  right: var(--pdn-size);
  bottom: calc(var(--pdn-size) * 8);

  margin: 0 auto;
  width: fit-content;

  display: flex;
  flex-direction: column;

  z-index: 10;
}

.page-nav > li {
  list-style-type: none;
}

.page-nav > li:not(:last-child) {
  border-bottom: var(--bdr-settings);
}

.page-nav > li > a:link {
  display: block;

  color: inherit;
  background-color: none;

  border-radius: var(--bdr-radius);
  padding: calc(var(--pdn-size) / 2) var(--pdn-size);

  text-decoration: none;
  font-size: 1.5em;

  transition: var(--trans-settings);
}

.page-nav > li > a:visited {
  color: var(--clr-destruct-bg);
}

.page-nav > li > a:hover {
  scale: 110%;
  color: var(--clr-accent-bg);
}

.page-nav > li > a:active {
  scale: 95%;
}
