@import "../common.css";

/* Page main header */
#header {
    text-align: center;
    padding-top: 2vh;
}

/* Page subheader */
#header-two {
    text-align: center;
    font-size: medium;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/* Store catalogue acts as a container holding item cards */
#item-catalogue {
    width: 850px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas: "a a a";
}

/* Configure item cards */
#item-catalogue > .card {
    width: 200px;
    height: 400px;
    margin: 20px;
}

/* Item class holds the item image and item information panels */
#item-catalogue > .card > .item {
    background-color: grey;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    transition-duration: 250ms;
}

/* On hove enlargen item image */
#item-catalogue > .card > .item:hover {
    transform: scale(118%);
}

#item-catalogue > .card > .item > img {
    height: inherit;
    width: inherit;
    border-radius: inherit;
}

/* Item information panel, contained by a solid border */
#item-catalogue > .card > .item-info {
    width: 200px;
    height: 90px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    border-color: var(--clr-fg);
    border-style: solid;
    border-radius: inherit;
    box-shadow: inherit;
}

/* Item price, accent colored to draw attention */
#item-catalogue > .card > .item-info > .price {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
    width: 60px;
    font-weight: bold;
    font-size: large;
    color: var(--clr-accent-bg);
}

/* Item name */
#item-catalogue > .card > .item-info > .item-name {
    margin-top: 4%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    text-align: center;
}

/* Let user choose how many items they want */
#item-catalogue > .card > .item-amount {
    text-align: center;
    padding-top: 8%;
}

/* Add to card button */
#item-catalogue > .card > .buy-button {
    width: 200px;
    height: 30px;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: large;
    font-family: inherit;
    color: var(--clr-accent-fg);
    background-color: var(--clr-accent-bg);
    border: 2px;
    border-radius: 6px;
    border-color: var(--clr-fg);
    border-style: solid;
    box-shadow: var(--shdw-settings);
    transition-duration: 250ms;
}

/* Add to cart button animation */
#item-catalogue > .card > .buy-button:hover {
    transform: scale(112%);
    cursor: pointer;
}

/* Add to cart button click feedback */
#item-catalogue > .card > .buy-button:active {
    background-color: var(--clr-accent-fg);
    transform: scale(102%);
    color: var(--clr-accent-bg);
}

/* Item quantity getter */
#item-catalogue > .card > .item-amount > .amount {
    width: 3em;
    font-family: inherit;
    font-size: medium;
    background-color: var(--clr-card-bg);
    color: var(--clr-card-fg);
    border: 3px;
    border-radius: 6px;
    border-style: solid;
    box-shadow: var(--shdw-settings);
}

/* Shopping cart panel, opens when shopping cart button is clicked */
#cart {
    width: 400px;
    height: 600px;
    position: fixed;
    top: 8%;
    right: 3%;
    bottom: 80%;
    box-shadow: var(--shdw-settings);
    background-color: var(--clr-card-bg);
    border-radius: var(--bdr-radius);
    backdrop-filter: blur(32px);
    transition-duration: 250ms;
    transform-origin: top right;
}

/* Shopping cart is hidden from view at start */
.hide-cart {
    scale: 0%;
    opacity: 20%;
}

/* When cart button is clicked, drop down shopping cart panel */
.show-cart {
    scale: 100%;
    opacity: 100%;
}

/* Styling for shopping cart button */
.navbar > ul {
    align-items: center;
}

.navbar > ul > #cart-button {
    display: inherit;
    align-items: center;
    padding: 2px;
    padding-right: 13px;
    position: absolute;
    right: 1%;
}

/* Styling shopping cart placeholder text, which is displayed when cart is empty */
#cart > #cart-placeholder {
    text-align: center;
    font-family: inherit;
    font-size: larger;
    font-weight: bold;
    color: var(--clr-accent-bg);
    margin-top: 50%;
}

/* Greyed out 'clear cart' button, displayed when cart is empty */
#cart > #clear-cart-disabled {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 20%;
    width: 300px;
    height: 30px;
    left: 50px;
    background-color: #c0c0c070;
    color: #242424aa;
    border-radius: 6px;
    font-size: large;
    font-family: inherit;
}

/* Greyed out 'check out' button, displayed when cart is empty */
#cart > #checkout-disabled {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 10%;
    width: 300px;
    height: 30px;
    left: 50px;
    background-color: #c0c0c070;
    color: #242424aa;
    border-radius: 6px;
    font-size: large;
    font-family: inherit;
}

/* Usable 'clear cart' button, displayed when cart is not empty */
#cart > #clear-cart-enabled {
    position: absolute;
    padding: 3px;
    bottom: 20%;
    width: 300px;
    height: 30px;
    left: 50px;
    color: var(--clr-accent-fg);
    background-color: var(--clr-accent-bg);
    font-family: inherit;
    font-size: large;
    border: 2px;
    border-radius: 6px;
    border-style: solid;
    border-color: var(--clr-fg);
    box-shadow: var(--shdw-settings);
    transition-duration: 250ms;
}

/* Usable 'check out' button, displayed when cart is not empty */
#cart > #checkout-enabled {
    position: absolute;
    bottom: 10%;
    padding: 3px;
    width: 300px;
    height: 30px;
    left: 50px;
    color: var(--clr-accent-fg);
    background-color: var(--clr-accent-bg);
    font-family: inherit;
    font-size: large;
    border: 2px;
    border-radius: 6px;
    border-style: solid;
    border-color: var(--clr-fg);
    box-shadow: var(--shdw-settings);
    transition-duration: 250ms;
}

/* Animate usable 'clear cart' button on hover */
#cart > #clear-cart-enabled:hover {
    transform: scale(112%);
    cursor: pointer;
}

/* Animate usable 'check out' button on hover */
#cart > #checkout-enabled:hover {
    transform: scale(112%);
    cursor: pointer;
}

/* Animate usable 'clear cart' button when clicked */
#cart > #clear-cart-enabled:active {
    background-color: var(--clr-accent-fg);
    transform: scale(102%);
    color: var(--clr-accent-bg);
}

/* Animate usable 'check out' button on clicked */
#cart > #checkout-enabled:active {
    background-color: var(--clr-accent-fg);
    transform: scale(102%);
    color: var(--clr-accent-bg);
}

/* Shows a table when the cart is not empty, listing items added to cart */
#cart > #cart-listing {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 3%;
}

/* Styles table heading item-name */
#cart > #cart-listing > .item-rows > #item-name-heading {
    text-align: left;
    padding-top: 4%;
    padding-bottom: 4%;
}

/* Styles table heading item-amount */
#cart > #cart-listing > .item-rows > #item-amount-heading {
    text-align: center;
}

/* Styles table heading item-price */
#cart > #cart-listing > .item-rows > #item-price-heading {
    text-align: end;
}

/* Styling for each row of the table */
#cart > #cart-listing > .item-rows {
    line-height: 40px;
}

/* Styling for displayed price of each items */
#cart > #cart-listing > .item-rows > .item-price {
    text-align: right;
}

/* Styling for choosen amount of items */
#cart > #cart-listing > .item-rows > .listed-amount {
    text-align: center;
}

/* Styling for Total price panel, displayed at the bottom of the cart */
#cart > #total-price {
    display: flex;
    position: absolute;
    width: 300px;
    left: 50px;
    bottom: 30%;
    color: var(--clr-accent-bg);
    font-size: larger;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    border: 3px;
    border-style: solid;
    border-radius: 6px;
    border-color: var(--clr-fg);
    box-shadow: var(--shdw-settings);

}

/* Styling for total price text */
#cart > #total-price > p {
    margin: 10px;
    text-align: center;
}

/* Styling for cart icon at navigation bar, changes color, depending on user preference or theme */
#cart-button #cart-icon {
    filter:none;
}

#cart-button:hover #cart-icon {
    filter:invert();
}

@media (prefers-color-scheme: dark) {
    #cart-button #cart-icon {
        filter: invert();
    }

    #cart-button:hover #cart-icon {
        filter: none;
    }
}

/* Alert box background, blurs background and prevents user from interacting with the background*/
#screen-blur {
    position: fixed;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(24px);
    transition-duration: 250ms;
}

/* Hide screenblur and alert window on start/when 'OK' button is pressed */
.hide-screen-blur {
    opacity: 0%;
    transform: scale(0%);
}

/* Show screenblur and alert when user enters a invalid item-amount */
.show-screen-blur {
    opacity: 100%;
    transform: scale(100%);
}

/* Styling for alert box */
#screen-blur > .alert-box {
    position: absolute;
    height: 200px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-card-fg);
    background-color: var(--clr-card-bg);
    border-radius: 12px;
    backdrop-filter: blur(32px);
    box-shadow: var(--shdw-settings);
}

/* Styling for alert message header */
#screen-blur > .alert-box > .alert-header {
    color: var(--clr-accent-bg);
    font-size: 150%;
    font-family: inherit;
    margin: 7%;
}

/* Styling for alert text */
#screen-blur > .alert-box > .alert-text {
    color: inherit;
    font-family: inherit;
    font-size: large;
    margin: 8%;
}

/* Styling for alert 'OK' button, when pressed closes alert */
#screen-blur > .alert-box > #close-alert {
    position: absolute;
    padding: 3px;
    height: 30px;
    width: 100px;
    right: 50px;
    bottom: 25px;
    font-size: large;
    color: var(--clr-accent-fg);
    font-family: inherit;
    background-color: var(--clr-accent-bg);
    border: 2px;
    border-color: var(--clr-fg);
    border-style: solid;
    border-radius: 6px;
    box-shadow: var(--shdw-settings);
    transition-duration: 250ms;
}

/* Animate alert button on hover */
#screen-blur > .alert-box > #close-alert:hover {
    transform: scale(112%);
    cursor: pointer;
}

/* Animate alert button on active */
#screen-blur > .alert-box > #close-alert:active {
    transform: scale(102%);
    background-color: var(--clr-bg);
    color: var(--clr-fg);
}

/* Checkout confirmation dialog background */
#checkout-confirm {
    position: fixed;
    top: 0vh;
    left: 0vw;
    width: 99vw;
    height: 99vh;
    backdrop-filter: blur(24px);
    transition-duration: 250ms;
}

/* Confirmation dialog message box */
#checkout-confirm > #confirmation-dialog {
    position: absolute;
    display: flexbox;
    height: 400px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr-card-bg);
    border-radius: 12px;
    backdrop-filter: blur(32px);
    box-shadow: var(--shdw-settings); 
}

/* Confirmation dialog header */
#checkout-confirm > #confirmation-dialog > #confirm-header {
    color: var(--clr-accent-bg);
    font-size: 175%;
    font-family: inherit;
    margin: 7%;
}

/* Confirmation dialog sub header */
#checkout-confirm > #confirmation-dialog > #confirm-subheader {
    color: var(--clr-fg);
    width: 400px;
    font-size: larger;
    font-family: inherit;
    margin-left: 20%;
}

/* Confirmation dialog form prompts */
#checkout-confirm > #confirmation-dialog > .form-items {
    display: grid;
    height: 150px;
    grid-template-areas: "a a";
    justify-content: space-evenly;
    align-content: space-evenly;
    color: var(--clr-fg);
    font-family: inherit;
    font-size: large;
}

/* Text input box for customer name for Checkout confirmation dialog */
.form-items > #text-input-name {
    height: 24px;
    width: 200px;
    background-color: var(--clr-card-bg);
    border: 3px;
    border-style: solid;
    border-radius: 6px;
    border-color: var(--clr-fg);
    color: var(--clr-fg);
    box-shadow: var(--shdw-settings);
}

/* Text input dialog for customer email for Checkout confirmation dialog */
.form-items > #text-input-email {
    height: 24px;
    width: 200px;
    background-color: var(--clr-card-bg);
    border: 3px;
    border-style: solid;
    border-radius: 6px;
    border-color: var(--clr-fg);
    color: var(--clr-fg);
    box-shadow: var(--shdw-settings);
}

/* Checkout confirmation dialog confirm button */
#checkout-confirm > #confirmation-dialog > #confirm-button {
    position: absolute;
    padding: 3px;
    height: 30px;
    width: 100px;
    right: 200px;
    bottom: 25px;
    font-size: large;
    color: var(--clr-accent-fg);
    font-family: inherit;
    background-color: var(--clr-accent-bg);
    border: 2px;
    border-color: var(--clr-fg);
    border-style: solid;
    border-radius: 6px;
    box-shadow: var(--shdw-settings);
    transition-duration: 250ms;
}

/* Checkout confirmation dialog cancel button */
#checkout-confirm > #confirmation-dialog > #cancel-button {
    position: absolute;
    padding: 3px;
    height: 30px;
    width: 100px;
    right: 50px;
    bottom: 25px;
    font-size: large;
    color: var(--clr-accent-fg);
    font-family: inherit;
    background-color: var(--clr-accent-bg);
    border: 2px;
    border-color: var(--clr-fg);
    border-style: solid;
    border-radius: 6px;
    box-shadow: var(--shdw-settings);
    transition-duration: 250ms;
}

/* Animations used for checkout confirmation dialog box */
#checkout-confirm > #confirmation-dialog > #confirm-button:hover {
    transform: scale(112%);
    cursor: pointer;
}

#checkout-confirm > #confirmation-dialog > #cancel-button:hover {
    transform: scale(112%);
    cursor: pointer;
}

#checkout-confirm > #confirmation-dialog > #confirm-button:active {
    transform: scale(102%);
    background-color: var(--clr-bg);
    color: var(--clr-fg);
}

#checkout-confirm > #confirmation-dialog > #cancel-button:active {
    transform: scale(102%);
    background-color: var(--clr-bg);
    color: var(--clr-fg);
}

/* Styling for dialog box background that appears when user enters inappropriate inputs */
#bad-input-warn {
    position: fixed;
    top: 0vh;
    left: 0vw;
    width: 99vw;
    height: 99vh;
    backdrop-filter: blur(24px);
    transition-duration: 250ms;
}

/* Styling for dialog box itself */
#bad-input-warn > .alert-box {
    position: absolute;
    height: 200px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr-card-bg);
    border-radius: 12px;
    box-shadow: var(--shdw-settings);
}

/* Dialog header styling */
#bad-input-warn > .alert-box > .alert-header {
    color: var(--clr-accent-bg);
    font-size: 150%;
    font-family: inherit;
    margin: 7%;
}

/* Dialog text styling */
#bad-input-warn > .alert-box > .alert-text {
    color: inherit;
    font-family: inherit;
    font-size: large;
    margin: 8%;
}

/* Dialog box button (OK) button */
#bad-input-warn > .alert-box > #close-warn {
    position: absolute;
    height: 30px;
    width: 100px;
    padding: 3px;
    right: 50px;
    bottom: 25px;
    font-size: large;
    color: var(--clr-bg);
    font-family: inherit;
    background-color: var(--clr-accent-bg);
    border: 2px;
    border-color: var(--clr-fg);
    border-style: solid;
    border-radius: 6px;
    box-shadow: var(--shdw-settings);
    transition-duration: 250ms;
}

#bad-input-warn > .alert-box > #close-warn:hover {
    transform: scale(112%);
}

#bad-input-warn > .alert-box > #close-warn:active {
    transform: scale(102%);
    background-color: var(--clr-bg);
    color: var(--clr-fg);
}

/* Footer at the very bottom of the page, holds the copyright disclaimer and the link to page editor */
#footer {
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    height: 3vh;
    width: 90vw;
    font-size: small;
    text-align: center;
    padding: var(--pdn-size);
    color: var(--clr-card-fg);
    background-color: var(--clr-card-bg);
    border-radius: var(--bdr-radius);
    border: var(--bdr-settings);
    box-shadow: var(--shdw-settings);
    backdrop-filter: blur(var(--blr-radius));
    -webkit-backdrop-filter: blur(var(--blr-radius));
  }