@import "../common.css";

/* Page main header */
#header {
    text-align: center;
    padding-top: 2vh;
}

/* Page subheader */
#header-two {
    text-align: center;
    font-size: medium;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/* Store catalogue acts as a container holding item cards */
#item-catalogue {
    width: 850px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas: "a a a";
}

/* Configure item cards */
#item-catalogue > .card {
    width: 200px;
    height: 400px;
    margin: 20px;
}

/* Item class holds the item image and item information panels */
#item-catalogue > .card > .item {
    background-color: grey;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    transition-duration: 250ms;
}

/* On hove enlargen item image */
#item-catalogue > .card > .item:hover {
    transform: scale(118%);
}

#item-catalogue > .card > .item > img {
    height: inherit;
    width: inherit;
    border-radius: inherit;
}

/* Item information panel, contained by a solid border */
#item-catalogue > .card > .item-info {
    width: 200px;
    height: 70px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    border-color: var(--clr-fg);
    border-style: solid;
    border-radius: inherit;
    box-shadow: inherit;
}

/* Item price, accent colored to draw attention */
#item-catalogue > .card > .item-info > .price {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
    width: 60px;
    font-weight: bold;
    font-size: large;
    color: var(--clr-accent-bg);
}

/* Item name */
#item-catalogue > .card > .item-info > .item-name {
    margin-top: 4%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
}

/* Let user choose how many items they want */
#item-catalogue > .card > .item-amount {
    text-align: center;
    padding-top: 8%;
}

/* Add to card button */
#item-catalogue > .card > .buy-button {
    width: 200px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: large;
    font-family: inherit;
    color: var(--clr-card-bg);
    background-color: var(--clr-accent-bg);
    border: 2px;
    border-radius: 6px;
    border-color: var(--clr-fg);
    border-style: solid;
    box-shadow: var(--shdw-settings);
    transition-duration: 250ms;
}

/* Add to cart button animation */
#item-catalogue > .card > .buy-button:hover {
    transform: scale(112%);
    cursor: pointer;
}

/* Add to cart button click feedback */
#item-catalogue > .card > .buy-button:active {
    background-color: var(--clr-accent-fg);
    transform: scale(102%);
    color: var(--clr-fg);
}

/* Item quantity getter */
#item-catalogue > .card > .item-amount > .amount {
    width: 3em;
    font-family: inherit;
    font-size: medium;
    background-color: var(--clr-card-bg);
    color: var(--clr-card-fg);
    border: 3px;
    border-radius: 6px;
    border-style: solid;
    box-shadow: var(--shdw-settings);
}

#cart {
    width: 400px;
    height: 600px;
    position: fixed;
    top: 8%;
    right: 3%;
    bottom: 80%;
    box-shadow: var(--shdw-settings);
    background-color: var(--clr-card-bg);
    border-radius: var(--bdr-radius);
    backdrop-filter: blur(12px);
    transition-duration: 250ms;
    transform-origin: top center;
}

.hide-cart {
    scale: 0%;
    opacity: 20%;
}

.show-cart {
    scale: 100%;
    opacity: 100%;
}

.navbar > ul > #cart-button {
    position: absolute;
    right: 11%;
}

.navbar > ul > #cart-button > div > img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

#cart > #cart-listing {
    background-color: aliceblue;
    width: 200px;
    height: 200px;
}

#cart > #cart-listing > div {
    background-color: black;
    width: 100px;
    height: 100px;
}