/* setup interface font */
@font-face {
  font-family: "Inter";
  src: url("fonts/Inter\ regular.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter\ 100.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "inter";
  src: url("fonts/inter\ 200.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "inter";
  src: url("fonts/Inter\ 300.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "inter";
  src: url("fonts/Inter\ 500.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "inter";
  src: url("fonts/Inter\ 600.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "inter";
  src: url("fonts/Inter\ 700.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "inter";
  src: url("fonts/Inter\ 800.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "inter";
  src: url("fonts/Inter\ 900.ttf");
  font-weight: 900;
}

/* Global variables to be used throughout the site */
:root {
  --clr-bg: #ffffff;
  --clr-fg: #303030;

  --clr-accent-bg: #3584e4;
  --clr-accent-fg: #ffffff;

  --clr-destruct-bg: #c01c28;
  --clr-destruct-fg: #ffffff;

  --clr-card-bg: #fafafaa0;
  --clr-card-fg: #1d1d1d;
  --clr-card-bdr: #00000040;

  --clr-nav-bg: #d0d0d0a0;
  --clr-nav-fg: #000000;

  --clr-btn-bg: #e0e0e0;
  --clr-btn-fg: #2f2f2f;

  --clr-overlay: #f0f0f040;

  --bdr-radius: 12px;
  --blr-radius: 24px;
  --pdn-size: 12px;

  --shdw-settings: 0px 0px 12px #00000080;
  --shdw-settings-small: 0px 0px 6px #00000040;
  --bdr-settings: 1px solid var(--clr-card-bdr);
  --trans-settings: cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;

  font-family: Inter, sans;
}

/* Adapt to system-wide dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --clr-bg: #1d1d1d;
    --clr-fg: #c0c0c0;

    --clr-accent-bg: #aecef4;
    --clr-accent-fg: #1d1d1d;

    --clr-destruct-bg: #ff7b63;
    --clr-destruct-fg: #000000;

    --clr-card-bg: #303030a0;
    --clr-card-fg: #e0e0e0;
    --clr-card-bdr: #80808040;

    --clr-nav-bg: #505050a0;
    --clr-nav-fg: #e0e0e0;

    --clr-btn-bg: #a0a0a0;
    --clr-btn-fg: #000000;

    --clr-overlay: #00000040;
  }
}

body {
  margin: 0px;
  padding: 0 var(--pdn-size);

  color: var(--clr-fg);
  background-color: var(--clr-bg);

  transition: var(--trans-settings);
}

/* Page hero layout */
.hero-container {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0 calc(var(--pdn-size) * -1); /* counteract body padding */
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: var(--pdn-size);
}

/* General button styling */
button {
  font-weight: bold;
  padding: calc(var(--pdn-size) / 2);

  background-color: var(--clr-btn-bg);
  color: var(--clr-btn-fg);

  border-radius: calc(var(--bdr-radius) / 2);
  border: var(--bdr-settings);

  box-shadow: var(--shdw-settings-small);

  transition: var(--trans-settings);
}

button:hover {
  box-shadow: var(--shdw-settings);
  transform: scale(102%);
}

button:active {
  box-shadow: none;
  transform: scale(98%);
}

/* special case button styling */
.destructive {
  background-color: var(--clr-destruct-bg);
  color: var(--clr-destruct-fg);
}

.suggested {
  background-color: var(--clr-accent-bg);
  color: var(--clr-accent-fg);
}

/* Navbar component styles */
nav {
  display: flex;
  justify-content: space-between;

  color: var(--clr-nav-fg);
  background-color: var(--clr-nav-bg);

  padding: calc(var(--pdn-size) / 2);

  border: var(--bdr-settings);
  border-radius: var(--bdr-radius);
  box-shadow: var(--shdw-settings);

  backdrop-filter: blur(var(--blr-radius));
  -webkit-backdrop-filter: blur(var(--blr-radius));

  position: sticky;
  top: var(--pdn-size);

  z-index: 10;
}

nav > ul {
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0px;
  gap: calc(var(--pdn-size) / 3);
  border-radius: var(--bdr-radius);
}


nav > ul > li {
  list-style-type: none;
  text-decoration: none;

  transition: var(--trans-settings);
}

nav > ul > li > * {
  display: block;
  padding: var(--pdn-size);
  color: inherit;
  background-color: none;
  text-decoration: inherit;
  text-align: center;
  transition: inherit;
}

nav > ul > li#current-page {
  font-weight: bold;
  text-decoration: underline;
}

nav > ul > li:hover,
nav > ul > li:active {
  border-radius: var(--bdr-radius);
  background-color: var(--clr-accent-bg);
  color: var(--clr-accent-fg);
  cursor: pointer;
}

.nav-start {
  justify-content: flex-start;
}

.nav-mid {
  justify-content: center;
  flex-shrink: 0.5;
}

.nav-mid > li {
  width: 100%;
}

.nav-mid > li:not(:last-child) {
  border-right: var(--bdr-settings);
}

.nav-end {
  justify-content: flex-end;
}

/* Generic card styling */
.card {
  padding: var(--pdn-size);

  color: var(--clr-card-fg);
  background-color: var(--clr-card-bg);

  border-radius: var(--bdr-radius);
  border: var(--bdr-settings);

  box-shadow: var(--shdw-settings);

  backdrop-filter: blur(var(--blr-radius));
  -webkit-backdrop-filter: blur(var(--blr-radius));
}

.content-container {
  margin: 0 auto;
  width: 1280px;
  min-height: 100vh;
}

/* Dialog styles */
dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: calc(var(--pdn-size) / 2);

  scale: 0%;

  transition: var(--trans-settings);
}

dialog[open] {
  scale: 100%;
}

dialog .dialog-header {
  text-align: center;
}

dialog .dialog-text {
  text-align: left;
  font-style: italic;
}

.body-blur {
  filter: blur(var(--blr-radius));
}
