:root {
  --clr-bg: #ffffff;
  --clr-fg: #242424;
  --clr-accent-bg: #3584e4;
  --clr-accent-fg: #ffffff;
  --clr-card-bg: #fafafa;

  --bdr-radius: 12px;
  --pdn-size: 18px;

  --shdw-settings: 0px 0px 12px #00000080;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-bg: #242424;
    --clr-fg: #c0c0c0;
    --clr-accent-bg: #aecef4;
    --clr-accent-fg: #242424;
    --clr-card-bg: #303030;
  }
}

body {
  margin: 0px;
  padding: 0 var(--pdn-size);
  color: var(--clr-fg);
  background-color: var(--clr-bg);
  font-family: sans;
}

.navbar {
  display: flex;
  position: sticky;
  top: var(--pdn-size);
  margin: 0px;
  padding: 0px;
  justify-content: center;
  box-shadow: var(--shdw-settings);
  background-color: var(--clr-card-bg);
  border-radius: var(--bdr-radius);
  z-index: 10;
}

.card {
  padding: var(--pdn-size);
  background-color: var(--clr-card-bg);
  border-radius: var(--bdr-radius);
  box-shadow: var(--shdw-settings);
}

.list-view {
  display: flex;
  flex-direction: column;
}

.grid-view {
  display: grid;
}

.list-view,
.grid-view {
  gap: 12px;
  padding: 12px;
}

.genre-card {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/background.webp);
  background-repeat: no-repeat;
  height: 300px;
  margin: 30px;
  color: #f0f0f0;

  transition-duration: 250ms;
}

.genre-card:hover {
  transform: scale(102%);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 240px;
  text-align: center;
  height: 90vh;
}

.navbar > ul {
  display: flex;
  margin: 0px;
  padding: 0px;
  gap: 3px;
  width: fit-content;

  border-radius: var(--bdr-radius);
}

.navbar > ul > * {
  list-style-type: none;
  padding: var(--pdn-size);
}

.navbar > ul > li.current-page {
  font-weight: bold;
}

.navbar > ul > *:hover,
.navbar > ul > li.current-page {
  background-color: var(--clr-accent-bg);
  color: var(--clr-accent-fg);
  cursor: pointer;
}
