/* setup interface font */
@font-face {
  font-family: "Inter";
  src: url("fonts/Inter\ regular.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter\ 100.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "inter";
  src: url("fonts/inter\ 200.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "inter";
  src: url("fonts/Inter\ 300.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "inter";
  src: url("fonts/Inter\ 500.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "inter";
  src: url("fonts/Inter\ 600.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "inter";
  src: url("fonts/Inter\ 700.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "inter";
  src: url("fonts/Inter\ 800.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "inter";
  src: url("fonts/Inter\ 900.ttf");
  font-weight: 900;
}

/* global variables to be used throughout the site */
:root {
  --clr-bg: #ffffff; /* general background color */
  --clr-fg: #303030; /* general foreground color */

  --clr-accent-bg: #3584e4; /* accent bg color - provides decent contrast agains other bgs */
  --clr-accent-fg: #ffffff;

  --clr-destruct-bg: #c01c28; /* destructive accent - use to highlight destructive actions */
  --clr-destruct-fg: #ffffff;

  --clr-card-bg: #fafafaa0; /* color to distinguish cards from bg - pair with border for best result */
  --clr-card-fg: #1d1d1d;
  --clr-card-bdr: #00000040; /* border color */

  --clr-nav-bg: #d0d0d0a0; /* special color for navbar - do not use with other elements */
  --clr-nav-fg: #000000;

  --clr-btn-bg: #e0e0e0; /* standard button color - use if accent is too flashy */
  --clr-btn-fg: #2f2f2f;

  --clr-overlay: #f0f0f040; /* use on image overlays to adjust image with color scheme */

  --bdr-radius: 12px; /* base border radius - adjust with calc() if needed */
  --blr-radius: 24px; /* base blur radius - adjust with calc() if needed */
  --pdn-size: 12px; /* base padding size - adjust with calc() if needed */

  --shdw-settings: 0px 0px 12px #20202080; /* shadows for large to medium elements */
  --shdw-settings-small: 0px 0px 6px #20202040; /* smaller shadow for smaller elements */
  --bdr-settings: 1px solid var(--clr-card-bdr); /* standard border */
  --trans-settings: cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms; /* tuned animation curve - use by default unless custom curves are a must */

  font-family: Inter, sans; /* set the global ui font */
}

/*
 * adapt to the system color scheme
 *
 * this allows the webpage to integrate with the host system
 * and cause less eye strain
 */
@media (prefers-color-scheme: dark) {
  :root {
    --clr-bg: #1d1d1d;
    --clr-fg: #c0c0c0;

    --clr-accent-bg: #aecef4;
    --clr-accent-fg: #1d1d1d;

    --clr-destruct-bg: #ff7b63;
    --clr-destruct-fg: #000000;

    --clr-card-bg: #303030a0;
    --clr-card-fg: #e0e0e0;
    --clr-card-bdr: #80808040;

    --clr-nav-bg: #505050a0;
    --clr-nav-fg: #e0e0e0;

    --clr-btn-bg: #a0a0a0;
    --clr-btn-fg: #000000;

    --clr-overlay: #00000040;
  }
}

body {
  margin: 0px;
  padding: 0 var(--pdn-size);

  color: var(--clr-fg);
  background-color: var(--clr-bg);
  accent-color: var(--clr-accent-bg); /* set page wide accent */

  transition: var(--trans-settings);
}

/* page hero layout */
.hero-container {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

  margin: 0 calc(var(--pdn-size) * -1); /* counteract body padding */
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: var(--pdn-size);
}

/*
 * general button styling
 *
 * will look legible against a standard background or card
 */
button,
.button {
  font-weight: bold;
  padding: calc(var(--pdn-size) / 2);

  background-color: var(--clr-btn-bg);
  color: var(--clr-btn-fg);

  border-radius: calc(var(--bdr-radius) / 2);
  border: var(--bdr-settings);

  box-shadow: var(--shdw-settings-small);

  transition: var(--trans-settings);
}

button:hover,
.button:hover {
  box-shadow: var(--shdw-settings);
  transform: scale(102%);
}

button:active,
.button:active {
  box-shadow: none;
  transform: scale(98%);
}

/* for buttons with destructive consequences */
.destructive {
  background-color: var(--clr-destruct-bg);
  color: var(--clr-destruct-fg);
}

/* friendly buttons that can be used without worry */
.suggested {
  background-color: var(--clr-accent-bg);
  color: var(--clr-accent-fg);
}

/* navbar component styles */
nav {
  display: flex;
  justify-content: space-between;

  color: var(--clr-nav-fg);
  background-color: var(--clr-nav-bg);

  padding: calc(var(--pdn-size) / 2);

  border: var(--bdr-settings);
  border-radius: var(--bdr-radius);
  box-shadow: var(--shdw-settings);

  backdrop-filter: blur(var(--blr-radius));
  -webkit-backdrop-filter: blur(var(--blr-radius));

  position: sticky; /* act static until 'top' value is reached then act like fixed */
  top: var(--pdn-size);

  font-size: 1rem;

  z-index: 10; /* ensure navbar remains on top of other elements */
}

nav > ul {
  display: flex;
  flex: 1 1 0;
  margin: 0px;
  gap: calc(var(--pdn-size) / 3);
  border-radius: var(--bdr-radius);
}


nav > ul > li {
  list-style-type: none;
  text-decoration: none;

  transition: var(--trans-settings);
}

nav > ul > li > * {
  display: block;
  padding: var(--pdn-size);
  color: inherit;
  background-color: none;
  text-decoration: inherit;
  text-align: center;
  transition: inherit;
}

nav > ul > li#current-page {
  font-weight: bold;
  text-decoration: underline;
}

/* custom styling and layout for logo */
nav > ul > li#site-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--pdn-size);

  font-weight: bold;
}

nav > ul > li#site-logo > img {
  display: block;

  margin: 0;
  padding: 0;
  height: calc(1rem + var(--pdn-size));
}

/* make img dark */
@media (prefers-color-scheme: dark) {
  nav > ul > li#site-logo > img {
    filter: invert();
  }
}

nav > ul > li:hover:not(#site-logo),
nav > ul > li:active:not(#site-logo) {
  border-radius: var(--bdr-radius);
  background-color: var(--clr-accent-bg);
  color: var(--clr-accent-fg);
  cursor: pointer;
}

.nav-start {
  justify-content: flex-start;
}

/* ensure nav links are given enough room and are centered */
.nav-mid {
  width: 100%;
  justify-content: center;
  flex-grow: 3;
}

.nav-mid > li {
  width: 100%;
}

.nav-mid > li:not(:last-child) {
  border-right: var(--bdr-settings);
}

.nav-end {
  justify-content: flex-end;
}

/*
 * generic card styling
 *
 * use as a base for new widgets
 * will be legible on top of a standard background
 * somewhat legible when nested thanks to borders
 *
 * tinted by background elements (blur)
 */
.card {
  padding: var(--pdn-size);

  color: var(--clr-card-fg);
  background-color: var(--clr-card-bg);

  border-radius: var(--bdr-radius);
  border: var(--bdr-settings);

  box-shadow: var(--shdw-settings);

  backdrop-filter: blur(var(--blr-radius));
  -webkit-backdrop-filter: blur(var(--blr-radius));
}

/*
 * page content container
 *
 * ensures that content on page remains at a readable width
 */
.content-container {
  margin: 0 auto;
  width: 1280px;
  min-height: 100vh;
}

/* setup header styles */
.content-container h1,h2,h3,h4,h5,h6 {
  text-align: center;
}

.content-container h1 {
  font-size: 4rem;
}

.content-container h2 {
  font-size: 3rem;
}

.content-container h3 {
  font-size: 2rem;
}

.content-container h4 {
  font-size: 1rem;
}

/*
 * styles for all dialog elements
 *
 * element will animate smoothly
 * a simple dialog can be created by using the shared showDialog function
 */
dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: calc(var(--pdn-size) / 2);

  scale: 0%;

  transition: var(--trans-settings);
}

dialog[open] {
  scale: 100%;
}

dialog .dialog-header {
  text-align: center;
}

dialog .dialog-text {
  text-align: left;
  font-style: italic;
}

/* 
 * blur for all body and child nodes
 *
 * only used when showing modal dialogs
 */
.body-blur {
  filter: blur(var(--blr-radius));
}

/* an overlay that will cover an element with a
 * image background
 *
 * recommended to be used so that images can be adjusted with color scheme
 * improves contrast of text on top of image
 */
.img-overlay {
  background-color: var(--clr-overlay);
  border-radius: inherit;

  width: 100%;
  height: 100%;

  transition: inherit;
}

/* footer styling */
footer {
  position: relative;
  bottom: var(--pdn-size);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer > * {
  text-decoration: none;
}
